__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Installer artifacts
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
cover/
coverage.xml

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
utils/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# Local env files
.env
.env.*

# Database
*.sqlite3

# Logs
*.log

# macOS
.DS_Store
